footer {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.footer-logo img {
    width: 100px; 
    height: auto;
}

.footer-contact {
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.about-us-button {
    margin-right: 20px;
    font-size: 16px;
    text-decoration: none;
    text-align: right;
    color: #333;
}