header {
	background-color: #a42c43B3;
	height: 100px;
	padding-right: 7%;
}

#logo img {
	height: 100px;
}

#header-wrapper {
	display: flex;
	align-items: center;
}

#header-wrapper > .autoMarginLeft {
	margin-left: auto;
}

#header-wrapper >:not(:first-child, .autoMarginLeft) {
	margin-left: 10px;
}
